<div class="navbar navbar-dark my-bg-garnet box-shadow">
	<div class="container d-flex justify-content-between">
		<a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-image"></i><strong class="pl-2">Galeria</strong> </a>
		<button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#header">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>
<div class="my-bg-garnet collapse" id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-7 py-4">
				<h4 class="text-white">Sobre</h4>
				<p class="text-white">Nessa galeria se encontram os meus pilares. A eles minha fé, amor e carinho sempre serão dados. As cores desse projeto vai ser dedicado ao time do meu coração Fluminense.</p>
			</div>
			<div class="col-sm-4 offset-md-1 py-4">
				<h4 class="text-white">Contato</h4>
				<ul class="list-unstyled">
					<li>
						<a href="https://www.linkedin.com/in/gean-ferreira-310937142/" target="_blank" class="text-white">LinkedIn</a>
					</li>
					<li>
						<a href="https://github.com/geanroberto" target="_blank" class="text-white">Github</a>
					</li>
					<li>
						<a href="mailto:gean_roberto@gmail.com" target="_blank" class="text-white">Email</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
